<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login System</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    
    <div class="login hide-login">
        <form class="login-container hide-form" method="POST" action="login">
           <img src="https://t3.ftcdn.net/jpg/08/10/99/18/360_F_810991814_3xbCYGpMergd8ssfFJpNjORG4JbziXyW.jpg" alt="" />
           <div class="input-container hide-section">
              <p><input type="email" placeholder="Email" name="email" /></p>
              <p><input type="password" placeholder="Password" name="password" /></p>
              <p><input type="submit" value="Log in" /></p>
           </div>
        </form>
     </div>

    <script src="js/animate.js"></script>
</body>
</html>